@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary"><a asp-controller="Usuario" asp-action="Login" style="color:aliceblue">Entrar no Sistema</a></button>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-success"><a asp-controller="Usuario" asp-action="Registrar" style="color:aliceblue">Registrar uma conta</a></button>
    </div>
</div>